<h1>
  Director #<%= @director.id %> details
</h1>

<a href="/directors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_director/<%= @director.id %>" class="btn btn-block btn-outline-secondary">
  Delete director
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @director.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @director.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @director.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <%= @director.image %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@director.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@director.updated_at) %> ago
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Duration
    </th>

    <th>
      Description
    </th>

    <th>
      Image
    </th>

    <th>
      Director
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @movies.each do |movie| %>
  <tr>
    <td>
      <%= movie.id %>
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.year %>
    </td>

    <td>
      <%= movie.duration %>
    </td>

    <td>
      <%= movie.description %>
    </td>

    <td>
      <img src="<%= movie.image %>">
    </td>

    <td>
      <%= movie.director_id %>
    </td>

    <td>
      <%= time_ago_in_words(movie.created_at) %> ago
    </td>
    <td>
      <%= time_ago_in_words(movie.updated_at) %> ago
    </td>

    <td>
      <a href="/movies/<%= movie.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
